<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File"
            name="file"
            encoding="utf-8"
            fileName="c:/Logs/HL7Analyst.log"
            layout="${longdate:format=yyyy-MM-dd HH:mm:ss.ffffff}|${level:uppercase=true}|${processid}|${threadid}|${message}"
            archiveFileName="c:/Logs/HL7Analyst.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="15"
            concurrentWrites="true"
            keepFileOpen="false" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    
  </rules>
</nlog>